.container-offer {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  //   height: 100vh;
}

img {
  object-fit: cover;
}

.column2 {
  width: 294px;
  background-color: white;
}
