header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid blue;
  width: 1140px;
  margin: 0 auto;
}

header input {
  width: 592px;
  height: 34px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(235, 235, 235);
}

header button {
  border: none;
}

.header-button1 {
  border: 1px solid #48858b;
  border-radius: 5px;
}

.header-button2 {
  background-color: #48858b;
  border-radius: 5px;
}

.header-link1,
.header-link1,
.header-link3 {
  text-decoration: none;
  color: #48858b;
  font-size: 16px;
}

.header-link3 {
  color: white;
}
