* {
  box-sizing: border-box;
}

.container {
  width: 1140px;
  /* height: 100vh; */
  margin: 0 auto;
  border: 2px solid red;
}

/* .offers {
  display: flex;
} */

/* Signup */

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
